<a href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts">
  <img src="http://cache.wine.com/images/logos/80x80_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" /></a>
    <br/>
    Search wines!
<form action="<%= wines_results_url %>" method="post">
<%= auth_token %>
Name
<input type="text" name="wine[name]">
</br>
Min Price
<input type="number" min="1" max="999" name="wine[price_min]">
</br>
Max Price
<input type="number" min="1" max="999" name="wine[price_max]">
</br>
<input type="submit" value="Search!">
</form>
